RewriteEngine On

RewriteCond %{REQUEST_URI} !^/poll
RewriteRule .? /poll/ [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (part.+(end|start)) /poll/$1/index.php