# [AddOutputFilterByType] 出力ファイルにフィルターをかけます。
# 次のモジュールが有効になっていることを確認します。
# mod_deflate, filter_module
# コンテキスト：サーバ設定ファイル, バーチャルホスト, ディレクトリ, .htaccess

# [DeflateCompressionLevel]
# コンテキスト：サーバ設定ファイル, バーチャルホスト
# 1 (低圧縮) から 9 (高圧縮) 