# Webp画像の設定

# jpeg、またはjpg,png拡張子のファイルにアクセスがあった場合に
# Webp拡張子の画像が存在する場合はそれを返す。
# 
# 例）
# http://localhost:8888/apache/rewrite-test/img/150.jpg
# -> http://localhost:8888/apache/rewrite-test/img/150.webp
